<div class="row content-container">
  <div class="col-12">
    <div class="row">
      <div class="content-container col-12 pb-4">
        <div class="row pt-4">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <h3 class="pb-3">Statistics</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p>View statistics of the site</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="simple-tab-0"
                      data-bs-toggle="tab"
                      href="#simple-tabpanel-0"
                      role="tab"
                      aria-controls="simple-tabpanel-0"
                      aria-selected="true"
                      >Most Popular Categories</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="simple-tab-1"
                      data-bs-toggle="tab"
                      href="#simple-tabpanel-1"
                      role="tab"
                      aria-controls="simple-tabpanel-1"
                      aria-selected="false"
                      >Most Posts By Member</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="simple-tab-2"
                      data-bs-toggle="tab"
                      href="#simple-tabpanel-2"
                      role="tab"
                      aria-controls="simple-tabpanel-2"
                      aria-selected="false"
                      >Posts With the Most Comments</a
                    >
                  </li>
                </ul>
                <div class="tab-content pt-3" id="tab-content">
                  <div
                    class="tab-pane active"
                    id="simple-tabpanel-0"
                    role="tabpanel"
                    aria-labelledby="tab-0"
                  >
                    <table class="table table-striped table-hover">
                      <thead class="custom-thead">
                        <tr>
                          <th scope="col">Catagory</th>
                          <th scope="col">Post Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (
                          theStat of getStatisticsInformation.getMostPopularCatagories;
                          track theStat.postcatagoryid
                        ) {
                          <tr>
                            <td>{{ theStat.catagory }}</td>
                            <td>{{ theStat.count }}</td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                  <div
                    class="tab-pane"
                    id="simple-tabpanel-1"
                    role="tabpanel"
                    aria-labelledby="tab-1"
                  >
                    <table class="table table-striped table-hover">
                      <thead class="custom-thead">
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Username</th>
                          <th scope="col">Email</th>
                          <th scope="col">Zipcode</th>
                          <th style="width: 500px" scope="col">Profile</th>
                          <th scope="col">Join Date</th>
                          <th scope="col">Last Login</th>
                          <th scope="col">Post Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (
                          theStat of getStatisticsInformation.getMostPostsMembers;
                          track theStat.userid
                        ) {
                          <tr>
                            <td>{{ theStat.name }}</td>
                            <td>{{ theStat.username }}</td>
                            <td>{{ theStat.email }}</td>
                            <td>{{ theStat.zipcode }}</td>
                            <td>{{ theStat.profile }}</td>
                            <td>{{ theStat.dateadded | date: 'shortDate' }}</td>
                            <td>{{ theStat.datelastlogin | date: 'shortDate' }}</td>
                            <td>{{ theStat.count }}</td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                  <div
                    class="tab-pane"
                    id="simple-tabpanel-2"
                    role="tabpanel"
                    aria-labelledby="tab-2"
                  >
                    <table class="table table-striped table-hover">
                      <thead class="custom-thead">
                        <tr>
                          <th scope="col">Catagory</th>
                          <th scope="col">Post</th>
                          <th scope="col">Comment Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (
                          theStat of getStatisticsInformation.getMostPopularPostWithComments;
                          track theStat.postid
                        ) {
                          <tr>
                            <td>{{ theStat.catagory }}</td>
                            <td>{{ theStat.shorttextpost }}</td>
                            <td>{{ theStat.count }}</td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
