<div class="row content-container">
  <div class="col-12">
    <div class="row">
      <div class="content-container col-12 pb-4">
        <div class="row pt-4">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <h3 class="pb-3">Member Statistics</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p>View a specific Member's statistics</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="simple-tab-0"
                      data-bs-toggle="tab"
                      href="#simple-tabpanel-0"
                      role="tab"
                      aria-controls="simple-tabpanel-0"
                      aria-selected="true"
                      >Posts</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="simple-tab-1"
                      data-bs-toggle="tab"
                      href="#simple-tabpanel-1"
                      role="tab"
                      aria-controls="simple-tabpanel-1"
                      aria-selected="false"
                      >Comments</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="simple-tab-2"
                      data-bs-toggle="tab"
                      href="#simple-tabpanel-2"
                      role="tab"
                      aria-controls="simple-tabpanel-2"
                      aria-selected="false"
                      >Posts with Most Comments</a
                    >
                  </li>
                </ul>
                <div class="tab-content pt-5" id="tab-content">
                  <div
                    class="tab-pane active"
                    id="simple-tabpanel-0"
                    role="tabpanel"
                    aria-labelledby="tab-0"
                  >
                    @if (getUserStatisticsInformation.getPostsMember == 0) {
                      <p>There are no posts for this member</p>
                    } @else {
                      <table class="table table-striped table-hover">
                        <thead class="custom-thead">
                          <tr>
                            <th scope="col">Catagory</th>
                            <th scope="col">Comment Count</th>
                            <th style="width: 500px" scope="col">Post</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (
                            record of getUserStatisticsInformation.getPostsMember;
                            track record.postid
                          ) {
                            <tr>
                              <td>{{ record.catagory }}</td>
                              <td>{{ record.count }}</td>
                              <td>{{ record.shorttext }}</td>
                              <td>{{ record.dateadded | date: 'mediumDate' }}</td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    }
                  </div>
                  <div
                    class="tab-pane"
                    id="simple-tabpanel-1"
                    role="tabpanel"
                    aria-labelledby="tab-1"
                  >
                    @if (getUserStatisticsInformation.getCommentsMember == 0) {
                      <p>There are no comments for this member</p>
                    } @else {
                      <table class="table table-striped table-hover">
                        <thead class="custom-thead">
                          <tr>
                            <th scope="col">Catagory</th>
                            <th scope="col">Post</th>
                            <th style="width: 500px" scope="col">Comment</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (
                            record of getUserStatisticsInformation.getCommentsMember;
                            track record.postid
                          ) {
                            <tr>
                              <td>{{ record.catagory }}</td>
                              <td>{{ record.postshorttext }}</td>
                              <td>{{ record.commentshorttext }}</td>
                              <td>{{ record.dateadded | date: 'mediumDate' }}</td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    }
                  </div>
                  <div
                    class="tab-pane"
                    id="simple-tabpanel-2"
                    role="tabpanel"
                    aria-labelledby="tab-2"
                  >
                    Tab 3 selected
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a class="btn actionbtn editBtn" title="Edit this member" [attr.href]="'/members'">
                  <p class="return">Return To Members</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
