
span.posttitleinfo{
  font-size: 16px;
  font-style: italic;
}

p.post {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}

.commentsbtn{
  font-size: 14px !important;
  background-color: rgb(3, 85, 207);
}

.newpostbtn{
  font-size: 20px !important;
  padding: 12px 13px 14px 13px !important;
  margin-top: -10px !important;
}

hr {
  margin-bottom: 30px;
}