<div class="row content-container">
  <div class="col-12">
    <div class="row">
      <div class="content-container col-12 pb-4">
        <div class="row pt-4 pb-3">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <h3 class="pb-3">Posts</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p>View Posts based on Catagory and User</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <select
                  #catagory
                  name="catagory"
                  id="catagory"
                  class="me-2"
                  (change)="onCatagoryChange(catagory.value)"
                >
                  <option value="0">All Catagories</option>
                  @for (catagory of catagoryList; track catagory.postcatagoryid) {
                    <option [value]="catagory.postcatagoryid">{{ catagory.catagory }}</option>
                  }
                </select>
                <select #user name="user" id="user" (change)="onUserChange(user.value)">
                  <option value="0">All Users</option>
                  @for (user of userList; track user.userid) {
                    <option [value]="user.userid">{{ user.name }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row pt-4">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                @if (!noPosts) {
                  @for (thePost of postsList; track thePost.postid; let i = $index) {
                    <div class="row">
                      <div class="col-12">
                        <p class="posttitle">
                          <strong>{{ thePost.name }}</strong
                          >,
                          <span class="posttitleinfo"
                            >{{ thePost.catagory }}, {{ thePost.dateadded | date: 'mediumDate' }},
                            {{ getTimePassed(thePost.dateadded) }}</span
                          >
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p class="post">
                          {{ thePost.post }}
                        </p>
                      </div>
                    </div>
                    @if (thePost.count > 0) {
                      <div class="row">
                        <div class="col-12">
                          <button class="btn btn-primary commentsbtn mt-4">
                            View the {{ thePost.count }} Comments
                          </button>
                        </div>
                      </div>
                    }
                    <div class="row">
                      <div class="col-12">
                        <hr />
                      </div>
                    </div>
                  }
                } @else {
                  <div class="errormsg">There are no posts based on your selections.</div>
                }
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
