
span.posttitleinfo{
  font-size: 16px;
  font-style: italic;
}

p.post {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}

.newpostbtn{
  font-size: 20px !important;
  padding: 12px 13px 14px 13px !important;
  margin-top: -10px !important;
}

.commentsbtn, .deletebtn, .commentsbtn{
  font-size: 16px !important;
  padding:6px 13px 6px 13px;
}

.commentsbtn {
  background-color: rgb(3, 85, 207);
}

hr {
  margin-bottom: 30px;
}