<div class="row content-container">
  <div class="col-12">
    <div class="row">
      <div class="content-container col-12 pb-4">
        <div class="row pt-4">
          <div class="col-1"></div>
          <div class="col-10">
            <h3 class="pb-3">Edit Profile</h3>
            <p>Please update your profile below:</p>
            <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
              <input
                style="min-width: 300px"
                type="text"
                id="name"
                name="name"
                required
                formControlName="name"
                placeholder="Please enter a full name..."
                class="form-control"
              />
              @if (f['name']?.invalid && f['name']?.touched && f['name'].errors?.['required']) {
                <div class="error-message">Full name is required.<br /></div>
              }
              @if (f['name']?.invalid && f['name']?.touched && f['name'].errors?.['minlength']) {
                <div class="error-message">Full name must be at least 8 characters long.</div>
              }
              @if (f['name'].touched && f['name'].errors?.['profanity']) {
                <div class="error-message">Please remove inappropriate language.</div>
              }

              <input
                style="min-width: 300px"
                type="text"
                id="username"
                name="username"
                required
                formControlName="username"
                placeholder="Please enter a username..."
                class="form-control"
              />
              @if (f['username']?.invalid && f['username']?.touched) {
                <div class="error-message">
                  Username must be at least 8 characters long with no spaces.
                </div>
              }
              @if (f['username'].touched && f['username'].errors?.['profanity']) {
                <div class="error-message">Please remove inappropriate language.</div>
              }
              <input
                style="min-width: 300px"
                type="email"
                id="email"
                name="email"
                required
                email
                formControlName="email"
                placeholder="Please enter an email address..."
                class="form-control"
              />
              @if (f['email']?.invalid && f['email']?.touched) {
                <div class="error-message">Please enter a valid email address.</div>
              }
              <input
                style="min-width: 300px"
                id="zipcode"
                name="zipcode"
                type="text"
                oninput="if (this.value.length > 5) this.value = this.value.slice(0, 5);"
                required
                formControlName="zipcode"
                placeholder="Please enter a zipcode..."
                class="form-control"
              />
              @if (
                f['zipcode']?.invalid && f['zipcode']?.touched && f['zipcode'].errors?.['required']
              ) {
                <div class="error-message">Zipcode is required.<br /></div>
              }
              @if (
                f['zipcode']?.invalid && f['zipcode']?.touched && f['zipcode'].errors?.['minlength']
              ) {
                <div class="error-message">Zipcode must be 5 number.</div>
              }
              <input
                style="min-width: 300px"
                type="password"
                formControlName="password"
                placeholder="Please enter a password..."
                class="form-control"
              />

              @if (f['password'].touched && f['password'].errors) {
                <div class="error-message">
                  @if (f['password'].errors['required']) {
                    Password is required.<br />
                  }
                  @if (f['password'].errors['minlength']) {
                    Password must be at least 8 characters long.<br />
                  }
                  @if (f['password'].errors['passwordStrength']) {
                    <div class="error-message">
                      @if (!f['password'].errors['passwordStrength'].hasUpperCase) {
                        Must include an uppercase letter.<br />
                      }
                      @if (!f['password'].errors['passwordStrength'].hasLowerCase) {
                        Must include a lowercase letter.<br />
                      }
                      @if (!f['password'].errors['passwordStrength'].hasNumeric) {
                        Must include a number.<br />
                      }
                      @if (!f['password'].errors['passwordStrength'].hasSpecial) {
                        Must include a special character.<br />
                      }
                    </div>
                  }
                </div>
              }
              <input
                style="min-width: 300px"
                type="password"
                formControlName="confirmPassword"
                placeholder="Please confirm your password..."
                class="form-control"
              />
              @if (f['confirmPassword'].touched && f['confirmPassword'].errors) {
                <div class="error-message">
                  @if (f['confirmPassword'].errors['required']) {
                    Please confirm your password.<br />
                  }
                  @if (f['confirmPassword'].errors['passwordMismatch']) {
                    Passwords do not match.
                  }
                </div>
              }
              <textarea
                style="min-width: 300px"
                type="text"
                id="profile"
                rows="3"
                maxlength="1000"
                required
                formControlName="profile"
                placeholder="Basic profile..."
                class="form-control"
              ></textarea>
              @if (f['profile'].touched && f['profile'].errors) {
                <div class="error-message">
                  Please provide a basic profile of at least 30 characters.
                </div>
              }
              @if (f['profile'].touched && f['profile'].errors?.['profanity']) {
                <div class="error-message">Please remove inappropriate language.</div>
              }

              <!-- Disable submit button if form rules aren't met -->
              <button
                type="submit"
                [disabled]="updateProfileForm.invalid"
                class="btn btn-primary mt-4"
              >
                Update Profile!
              </button>

              <a class="btn actionbtn editBtn" title="Edit this member" [attr.href]="'/members'">
                <p class="return mt-5 ms-3">Return To Members</p>
              </a>

              @if (showSuccess == true) {
                <div class="successmsg">This member was updated.</div>
              }
              @if (showError == true) {
                <div class="errormsg">{{ errorMsg }}.</div>
              }
            </form>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
